@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h2>So luong trieu chung</h2>
   <form action="/TrieuChung/ListTT">
        <label for="TrieuChung">Số lượng triệu chứng </label> <input type="text" name="soluong" />
        <br>
        <input type="submit" value="Liệt kê" />
   </form>
}
